<form *ngIf="editCourseForm != null" [formGroup]="editCourseForm" (ngSubmit)="edit()">
  <div class="form-group">
    <label for="formTitleInput">Title:</label>
    <input type="text" class="form-control" id="formTitleInput" formControlName="name" >
  </div>
  <div class="form-group">
    <label for="formDescriptionInput">Description:</label>
    <textarea class="form-control" name="name" id="formDescriptionInput" formControlName="description" rows="4"></textarea>
  </div>
  <div class="form-group">
    <label for="formDateInput">Date:</label>
    <input type="date" name="name" class="form-control" id="formDateInput" formControlName="date">
  </div>
  <div class="form-group">
    <label for="formDurationInput">Duration ({{editCourseForm.controls['duration'].value | durationConverter}}):</label>
    <input type="number" name="name" class="form-control" id="formDurationInput" formControlName="duration" placeholder="Duration">
  </div>
  <div class="alert alert-danger" *ngIf="showErrorBlock">
    Form has invalid data
  </div>
  <button class="btn btn-outline-success" type="submit" role="button">Edit</button>
  <button class="btn btn-outline-danger" routerLink="/courses" role="button">Cancel</button>
</form>


