<div class="courses-page">
  <app-courses-search (finder)="search($event)"></app-courses-search>
  <div class="">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" routerLink="add">
      <img src="assets/img/course/add.svg" width="30" height="30" class="d-inline-block align-top mx-1 " alt="">
      Add course
    </button>
  </div>
  <div *ngIf="courses.length">
    <div *ngFor="let course of courses">
      <app-course (delete)="onDelete($event)"  [course]="course"></app-course>
    </div>
    
  </div>
  <div class="card my-3" *ngIf="courses == null">
      <div class="card-body text-center">
        <h4>No data. Feel free to add new course.</h4>
      </div>
  </div>
  <app-spinner *ngIf="routerChanged"></app-spinner>
  <div class="load-more-component">
    <div class="card my-3">
      <div class="card-body text-center">
        <a class="text-uppercase card-link mx-auto" (click)="loadMore()">LOAD MORE</a>
      </div>
    </div>
  </div>
</div>

