<div class="row py-3">
  <div class="col-12">
    <form class="card card-sm">
      <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
          <i class="fas fa-search h4 text-body"></i>
        </div>
        <div class="col">
          <input #searchText class="form-control form-control-lg form-control-borderless value" type="search"
                 placeholder="Search courses by keywords">
        </div>
        <div class="col-auto">
          <a class="btn btn-lg btn-success" (click)="searchByTitle()">Search</a>
        </div>
      </div>
    </form>
  </div>
</div>
